@using ShoppingCart.Models
@model Purchase

@{
    ViewBag.Title = "My Purchases";
}
@{
    List<PurchaseDetails> purchaseDetails = (List<PurchaseDetails>)ViewData["PurchaseDetails"];
    var sessionId = ViewData["sessionId"];

}
<table>
    <tr>
        <td>@Html.ActionLink("Log Out", "Index", "Login", new { sessionId = @sessionId }, null)</td>
    </tr>
</table>
<style>
    * {
        box-sizing: border-box;
    }
    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 15px;
        height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    table {
        border-spacing: 50px; /*use to work like cellspacing */
        width: 300px;
        height: 300px;
    }

    th, td {
        padding: 0px;
    }
    /*use to work like cellpadding */
</style>


    @foreach (var item in purchaseDetails)
    {
      
        <div class="row">
            <div class="column">
                <table width="300" border="1" cellspacing="0" cellpadding="50" align="right">
                    <tr>
                        <td>
                            <center>
                                <p><img class="border" width="200" height="200" src=@item.Product.ImagePath /></p>
                                <p><b> @item.Product.ProductName </b></p>
                                <p>@item.Product.ProductDescription </p>
                            </center>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="column">
                <p> Purchased On: @item.Purchase.OrderDate</p>
                <p> Product ID: @item.ProductId</p>
                <p>Purchase ID : @item.PurchaseId</p>
                <p>Activation Code: @item.ActivationCode</p>
                <p>Quantity: @item.Quantity</p>

            </div>
        </div>
    }
    
