@using ShoppingCart.Models
@model Purchase

@{
    ViewBag.Title = "My Purchases";
}
@{
    List<Purchase> purchases = (List<Purchase>)ViewData["PurchaseDetails"];
    var sessionId = ViewData["sessionId"];

}

@foreach (var item in purchases)
{
    foreach (var pd in item.PurchaseDetails)
    {
        <div class="row">
            <div class="column">
                <table width="300" border="1" cellspacing="0" cellpadding="50" align="right">
                    <tr>
                        <td>
                            <center>
                                <p><img class="border" width="200" height="200" src=@pd.Product.ImagePath /></p>
                                <p><b> @pd.Product.ProductName </b></p>
                                <p>@pd.Product.ProductDescription </p>
                            </center>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="column">
                <p> Purchased On: @item.OrderDate</p>
                <p> Product ID: @pd.ProductId</p>
                <p>Purchase ID : @item.PurchaseId</p>
                <p>Activation Code: 
                    @if (pd.ActivationCodes.Count() == 1)
                    {
                        var code = pd.ActivationCodes.ElementAt(0).ToString();
                        @Html.TextBoxFor(abc => code);
                    }
                    else
                    {
                        @Html.DropDownListFor(pdd => pd.ActivationCodes, pd.ActivationCodes.Select(s => new SelectListItem { Text = s, Value = s }))
                    }
                </p>
                <p>Quantity: @pd.ActivationCodes.Count()</p>

            </div>
        </div>
    }
}

        <style>
            * {
                box-sizing: border-box;
            }
            /* Create two equal columns that floats next to each other */
            .column {
                float: left;
                width: 50%;
                padding: 15px;
                height: 300px; /* Should be removed. Only for demonstration */
            }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }

            table {
                border-spacing: 50px; /*use to work like cellspacing */
                width: 300px;
                height: 300px;
            }

            th, td {
                padding: 0px;
            }
            /*use to work like cellpadding */
        </style>

