@model IEnumerable<ShoppingCart.Models.Product>
@using ShoppingCart.Models

@{
    var products = (List<Product>)ViewData["products"];
    var customer = (Customer)ViewData["customer"];
    var sessionId = (string)ViewData["sessionId"];
    var cartQuantity = (int)ViewData["cartQuantity"];
    var x = 0;
}

<div id="productList">
    @foreach (var product in products)
    {
        <div class="col-sm-4">

            <table align="center" border="0" width="80%">
                <tr align="center"><td><img class="border" width="200" height="200" src=@product.ImagePath /></td></tr>
                <tr><td><center><b>@product.ProductName</b></center></td></tr>
                <tr><td><center>@product.ProductDescription</center></td></tr>
                <tr>
                    <td>
                        <center>
                            @Html.ActionLink( "$" + @product.UnitPrice + "- Add to Cart" , "AddToCart", "Cart",
                            new { productId = product.ProductId, customerId = customer.CustomerId}, new { @class = "btn btn-success btn-large" })
                        </center>
                        @*<input type="button" name="AddToCart" value="Add To Cart" onclick="AddCart(@customer.CustomerId,@product.ProductId)" />*@
                    </td>
                </tr>
            </table><span style="line-height:80px">&nbsp;</span>
        </div>
    }
</div>

<style>
    td, tr, th {
        padding: 5px;
    }
</style>

<script>

</script>