@model ShoppingCart.Models.Customer

@{
    ViewBag.Title = "Login";
    var error = TempData["error"];
}

@Html.Raw(error);
<div style="line-height:40px">&nbsp;</div>

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <table align="center">
        <tr>
            <td>@Html.LabelFor(mod => mod.Username)</td>
            <td>@Html.TextBoxFor(mod => mod.Username)</td>
            <td>@Html.ValidationMessageFor(mod => mod.Username)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Password)</td>
            <td>@Html.PasswordFor(x => x.Password)</td>
            <td>@Html.ValidationMessageFor(x => x.Password)</td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input type="submit" value="Submit"></td>
        </tr>
    </table>
}

<style>
    .field-validation-error {
        color: red;
    }

    tr, td {
        padding: 2px
    }
</style>

<script>
    window.onload = function () {
        var msg = @error;
        console.log(msg);

        @*if (@error  != "") {
            alert()@error;
        }*@
    }
    $(document).ready(function () {
        $("#submitButton").on("click", function () {
            alert('Your Message');
        });

    });
</script>

