@using ShoppingCart.Models

@{
    ViewBag.Title = "Libraries Gallery";
}

@{
    var products = (List<Product>)ViewData["products"];
    var customer = (Customer)ViewData["customer"];
    var name = customer.FirstName + " " + customer.LastName;
    var cartQuantity = (int)ViewData["cartQuantity"];
    var sessionId = (string)ViewData["sessionId"];
}

@*<table>
        <tr>
            <th>Hello, @name </th>
            <td>@Html.ActionLink("My Purchases", "Index", "Purchases", new { sessionId = @sessionId }, null)</td>
            <td>@Html.ActionLink("Log Out", "Index", "Login", new { sessionId = @sessionId }, null)</td>
            <td>
                <a href='@Url.Action("ViewCart", "Cart", new { sessionId = @sessionId })'>
                    <img class="border" width="50" height="50" src='@Url.Content("~/Content/Images/cartIcon.png")' />
                </a>
            </td>
            <td>
                <a href='@Url.Action("ViewCart", "Cart", new { sessionId = @sessionId })'>
                    @cartQuantity
                </a>
            </td>
        </tr>
    </table>*@




<script>
    var session = '@(ViewData["sessionId"])';
    var searchObj = document.getElementById('search');
    function search() {
        //console.log('the user searches for ' + searchObj.value);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("productList").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "GetSearchData?searchObj=" + searchObj.value + "&sessionId=" + session, true);
        xhttp.send();
    } 5
   

    function resetSearch() {
        if (searchObj.value == "") {
            search();
        }
    }
</script>