@using ShoppingCart.Models

@{
    ViewBag.Title = "Libraries Gallery";
}

@{
    var products = (List<Product>)ViewData["products"];
    var customer = (Customer)ViewData["customer"];
    var name = customer.FirstName + " " + customer.LastName;
    var sessionId = (string) ViewData["sessionId"];
    var cartQuantity = (int) ViewData["cartQuantity"];
}

@*<table>
    <tr>
        <th>Hello, @name </th>
        <td>@Html.ActionLink("My Purchases", "Index", "Purchases", new { sessionId = @sessionId }, null)</td>
        <td>@Html.ActionLink("Log Out", "Index", "Login", new { sessionId = @sessionId }, null)</td>
        <td>
            <a href='@Url.Action("ViewCart", "Cart", new { sessionId = @sessionId })'>
                <img class="border" width="50" height="50" src='@Url.Content("~/Content/Images/cartIcon.png")' />
            </a>
        </td>
        <td>
            <a href='@Url.Action("ViewCart", "Cart", new { sessionId = @sessionId })'>
                @cartQuantity
            </a>
        </td>
    </tr>
</table>*@

<!-- Search form -->
<div class="md-form ">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="search" onkeyup="if (event.keyCode == 13) search(); else if (event.keyCode == 8) resetSearch();" >
</div>


<div style="line-height:20px">&nbsp;</div>

<div id="productList">
    <table align="center" border="1">

        @foreach (var product in products)
        {
            <tr>
                <td>
                    <table align="center" border="1" width="80%">
                        <tr align="center"><td><img class="border" width="200" height="200" src=@product.ImagePath /></td></tr>
                        <tr><td>@product.ProductName</td></tr>
                        <tr><td>@product.ProductDescription</td></tr>
                        <tr>
                            <td>
                                $@product.UnitPrice  - @Html.ActionLink("Add to Cart", "AddToCart", "Cart",
        new { productId = product.ProductId, customerId = customer.CustomerId ,sessionId = @sessionId }, null)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </table>
</div>

<style>
    td, tr, th {
        padding: 2px;
    }
</style>

<script>
    var session = '@(ViewData["sessionId"])';
    var searchObj = document.getElementById('search');
    function search() {
        //console.log('the user searches for ' + searchObj.value);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("productList").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "GetSearchData?searchObj=" + searchObj.value + "&sessionId=" + session, true);
        xhttp.send();
    }

    function resetSearch() {
        if (searchObj.value == "") {
            search();
        }
    }
</script>