@using ShoppingCart.Models

@{ var cart = (List<CartDetail>)ViewData["cart"];
    var SessionId = ViewData["SessionId"];
    var Product = (List<Product>)ViewData["Product"];
    decimal TotalCost = 0;
}
@{
    ViewBag.Title = "ViewCart";
}
<h2>
    View Cart &nbsp; &nbsp;
    @Html.ActionLink("Continue Shopping", "Gallery", "Product", new { sessionId = @SessionId }, null) &nbsp;|
    @Html.ActionLink("Checkout", "Action Method2", "Purchases") &nbsp;  &nbsp; &nbsp; &nbsp;
    Total:$ @TotalCost
</h2>

<style>
    * {
        box-sizing: border-box;
    }
    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 15px;
        height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    table {
        border-spacing: 50px; /*use to work like cellspacing */
        width: 300px;
        height: 300px;
    }

    th, td {
        padding: 0px;
    }
    /*use to work like cellpadding */
</style>

@using (Html.BeginForm("Index", "Purchases", FormMethod.Post))
{
    foreach (var cartitem in cart)
    {
     <tr><td> Price: @cartitem.Product.UnitPrice </td></tr>
                

        <h2>Two Equal Columns</h2>
        <div class="row">
            <div class="column">
                <table width="300" border="1" cellspacing="0" cellpadding="50" align="right">
                    <td>
                        <center>
                            <p><img class="border" width="200" height="200" src=@cartitem.Product.ImagePath /></p>
                            <p><b> @cartitem.Product.ProductName </b></p>
                            <p>@cartitem.Product.ProductDescription </p>
                        </center>
                    </td>
                </table>
            </div>
            <div class="column">
                <p> Price: $@cartitem.Product.UnitPrice</p>
                <p> Quantity: <input type="number" value=@cartitem.Quantity name="Quantity" min="0"></p>

            </div>
            </div>
            }
                
        }
    }
}
