@using ShoppingCart.Models

@{ var cart = (List<CartDetail>)ViewData["cart"];
    var SessionId = ViewData["SessionId"];
    var Product = (List<Product>)ViewData["Product"];
    decimal TotalCost = 0;
    foreach (var cartitem in cart)
    {
        decimal price = cartitem.Quantity * cartitem.Product.UnitPrice;
        TotalCost = TotalCost + price;
    }
}
@{
    ViewBag.Title = "ViewCart";
}
<h2>
    View Cart &nbsp; &nbsp;
    @Html.ActionLink("Continue Shopping", "Gallery", "Product", new { sessionId = @SessionId }, null) &nbsp;|
    @Html.ActionLink("Checkout", "Action Method2", "Purchases") &nbsp;  &nbsp; &nbsp; &nbsp;
    Total:$ @TotalCost
</h2>

<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
        padding: 15px;  /*space between columns*/
        /*height: 300px; */ 
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    table {
        border-spacing: 150px; 
        width: 300px;
        height: 300px;
        border: 0px solid black;
    }

    td {
        padding: 0px;
    }

</style>

@using (Html.BeginForm("Index", "Purchases", FormMethod.Post))
{
    foreach (var cartitem in cart)
    {
            <div class="row">
                <div class="column">

                    <table align="right" border="1" width="80%">
                        <tr align="center"><td><img class="border" width="200" height="200" src=@cartitem.Product.ImagePath /></td></tr>
                        <tr><td><center><b>@cartitem.Product.ProductName</b></center></td></tr>
                        <tr><td><center>@cartitem.Product.ProductDescription</center></td></tr></table>

                        @*<table width="300" border="1" cellspacing="0" cellpadding="50" align="right">
                <tr><td align="center"><img class="border" width="200" height="200" src=@cartitem.Product.ImagePath /></td></tr>
                <tr><td align="center"><b> @cartitem.Product.ProductName </b></td></tr>
                <tr><td align="center">@cartitem.Product.ProductDescription </td></tr>


            </table>*@
                </div>
                <div class="column">
                    <br/><br/><br/><br/><br/>
                    <p> Price: $@cartitem.Product.UnitPrice</p>
                    <p> Quantity: <input type="number" value=@cartitem.Quantity name="Quantity" min="0"></p>

                </div>
            </div>
            }
            }


