@using ShoppingCart.Models
@model PurchaseDetails

@{
    ViewBag.Title = "My Purchases";
}
@{
    List <PurchaseDetails> PP = (List<PurchaseDetails>)ViewData["PurchaseDetails"];
    var sessionId = ViewData["sessionId"];
    List <Product> Prod = (List<Product>)ViewData["products"];
    List<Purchase> P = (List<Purchase>)ViewData["Purchase"];
}
<table>
    <tr>
        <td>@Html.ActionLink("Log Out", "Index", "Login", new { sessionId = @sessionId }, null)</td>
    </tr>
</table>
<div style="line-height:20px">&nbsp;</div>

<table align="center" border="1">
    @foreach (var i in PP)
    {
        foreach (var j in Prod)
        {
            foreach (var k in P)
            {
                if (i.PurchaseId == k.PurchaseId)
                {
                    if (i.ProductId == j.ProductId)
                    {

        <tr>
            <td>
                <table align="center" border="1" width="100%">
                    <tr align="center"><td><img class="border" width="200" height="200" src=@j.ImagePath /></td></tr>
                    <tr><td>@i.PurchaseId</td></tr>
                    <tr><td>@i.ProductId</td></tr>
                    <tr><td>@i.ActivationCode</td></tr>
                    <tr><td>@k.OrderDate</td></tr>
                </table>
            </td>
        </tr>
                    }
                }
            }
        }
    }
    </table>
        
    

<style>
    td, tr, th {
        padding: 2px;
    }
</style>